<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>displaying AcessRecords of Selected Topics</h1>


        <table border="3px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>

        {% for AR in RWOS %}
            <tr>
                <td>
                    {{AR.name}}
                </td>
                <td>
                    {{AR.date}}
                </td>
                <td>
                    {{AR.author}}
                </td>
            </tr>
        {% endfor %}

        </table>


    </center>
</body>
</html>