<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>retrieve_AcessRecord</h1>

        <form method="POST">
            {% csrf_token %}
            <label for="n">name</label>
            <select name="n" id="n" multiple>
                {% for wo in LWO %}
                    <option value="{{wo.id}}">{{wo.name}}</option>
                {% endfor %}

            </select>
            <br><br>
            <input type="submit" value="retrieve_AcessRecord">
    
            
        </form>


    </center>
</body>
</html>